@charset "UTF-8";
body {
  background-color: whitesmoke;
}
/* ワイヤー部分 */
div.main-area {
  width: 90%;
  margin: 40px 0 40px 0;
  padding: 20px 30px;
  box-shadow: 2px 2px 5px 0 gray ;
  background-color: white;
}
div.main-area * {
  /* 影の設定が子孫に反映されるため、解除 */
  box-shadow: none ;
}
.site-sidebar {
  background-color: white;
  width: 100%;
  margin:40px 0 40px 0;
  padding:20px 15px;
  box-shadow: 2px 2px 5px 0 gray ;
}
.site-footer {
  background-color: blue;
}
.site-header {
  background-color: white;
}
/* トップページのサムネイル */
.article-area {
  /*display:flex;*/
}
.size-post-thumbnail {
  padding: 20px 1%;
}
.size-post-thumbnail img {
  display: block;
  margin: auto;
  max-width: 95%;
}
.article-describe {
  width:50px;
  padding: 15px 20px 15px 20px;
}
div.article-describe p {
  margin-left: 10px;
}
.article-one {
  width:90%;
  height:90%;
  box-shadow: 2px 2px 5px 0 gray !Important ;
}
/****** ヘッダー ******/
header#masthead {
  background-color: #DDDDDD	;
}
div.site-branding {
  display:flex;
}
/* カスタマーヘッダー */
img.cus-header-img {
  display:block;
  margin-left:auto;
  margin-right:auto;
}
p.cus-header-area {
  padding-top: 5px;
  padding-bottom: 5px;
}
/* サイトタイトル */
div.site-title-area {
  padding-right:5px;
}
h1.site-title {
  font-size: 42px;
  display:inline;
  margin: 5px 10px 0 20px;
}
/* サイトディスクリプション */
div.discription-area {

}
p.site-description {
  margin-left: 20px;
}
/* メニュー */
div.site-branding {
  background-color: #333;
}
div.menu-area {
  float:right;
}
h1.site-title a {
  color: white;
}
p.site-description {
  color:white;
}
div.menu-area ul {
  list-style:none;
  display:flex;
}
div.menu-area li {
  background-color: #333;
  padding: 8px 6px;
  margin: 5px 2px;
  border: 1.5px solid white;
  border-radius: 1px;
}
div.menu-area li a {
  color: white;
}
/****** サイドバー ******/
.site-sidebar h2 {
  font-size:24px;
  border-bottom: 2px solid blue;
}
.site-sidebar ul {
  list-style: none;
  margin-left: 0;
  padding-left: 5px;
}
/****** フッター ******/
footer#colophon {
  background-color: #333;
  padding:10px 0 10px 20px;
}
.site-footer a,
.site-footer span {
  color: white;
}
