@charset "UTF-8";

body {
  background-color: whitesmoke;
}

/* ワイヤー部分 */
div.main-area {
  width: 90%;
  margin: 40px 0 40px 0;
  padding: 20px 30px;
  box-shadow: 2px 2px 5px 0 gray;
  background-color: white;
}

div.main-area * {
  /* 影の設定が子孫に反映されるため、解除 */
  box-shadow: none;
}

.site-sidebar {
  background-color: white;
  width: 100%;
  margin: 40px 0 40px 0;
  padding: 20px 15px;
  box-shadow: 2px 2px 5px 0 gray;
}

.site-footer {
  background-color: blue;
}

.site-header {
  background-color: white;
}

/* トップページのサムネイル */
/* 記事一覧 */
.article-area {
  /*display:flex;*/
}

.size-post-thumbnail {
  padding: 20px 1%;
}

.size-post-thumbnail img {
  display: block;
  margin: auto;
  max-width: 95%;
}

.article-describe {
  /*width: 50px;*/
  padding: 15px 20px 15px 20px;
}

div.article-describe h3 {
  color: #333;
  font-size: 18px;
}

div.article-describe p {
  margin-left: 0.2em 0 0 0.2em;
  font-size: 14px;
  color: gray;
}

div.article-describe a {
  text-decoration: none;
}

.article-one {
  width: 100%;
  height: 90%;
  margin-right: 0;
  box-shadow: 2px 2px 5px 0 gray !Important;
}

/****** ヘッダー ******/
header#masthead {
  background-color: #DDDDDD;
}

div.site-branding {
  display: flex;
}

/* サイトタイトル & ディスクリプション */
div.site-info-header {
  width: 300px;
}

div.site-title-area {
  width: 100%;
  padding-right: 5px;
}

h1.site-title_test {
  display: block;
  margin: 5px 10px 0 20px;
}

h1.site-title_test a {
  text-decoration: none;
  font-size: 24px;
  color: white;
}

p.site-description_test {
  margin:0.2em 0 0.2em 20px;
  color: dimgray;
}

/* メニュー */
div.site-branding {
  background-color: #333;
}

div.menu-area {
  margin: 0 0 0 auto;
}

div.main-menu {
  margin: 0 0 0 auto;
}

div.menu-area ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

div.menu-area li {
  background-color: #333;
  padding: 8px 6px;
  margin: 5px 2px;
  border: 1.5px solid white;
  border-radius: 1px;
}

div.menu-area li a {
  color: white;
}

/* メニューのレスポンシブ */
.main-menu ul li a {
  display:block;
  font-weight:bold;
  padding: 2em;
  border-bottom: 1px dotted #CCC;
  text-decoration:none;
}

.main-menu ul li a:hover
{background-color:rgba(0,0,0,0.5);
color:orange;}

.main-menu {
  text-align:center;
  background-color:rgba(255,255,255,0.5);
  transition: .5s ease;/*滑らかに表示*/
  -webkit-transform: translateX(-105%);
  transform: translateX(-105%);/*左に隠しておく*/
}

/*OPEN時の動き*/
.main-menu.open {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);/*中身を表示（右へスライド）*/
}

/*トグルボタンのスタイルを指定*/
.menu-toggle {
  display: block;
  position: fixed;    /* bodyに対しての絶対位置指定 */
  width: 42px;
  height: 42px;
  cursor: pointer;
  z-index: 3;
  right:15px;
}

.menu-toggle span {
  display: block;
  position: absolute;
  width: 50px;
  border-bottom: solid 4px white;
  -webkit-transition: .35s ease-in-out;   /*変化の速度を指定*/
  -moz-transition: .35s ease-in-out;      /*変化の速度を指定*/
  transition: .35s ease-in-out;           /*変化の速度を指定*/
}

.menu-toggle span:nth-child(1) {
  top:5px;
}

.menu-toggle span:nth-child(2) {
  top: 18px;
}

.menu-toggle span:nth-child(3) {
  top: 32px;
}

.menu-toggle.active span:nth-child(1) {
  top: 18px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

/* 2番目と3番目のspanを45度に */
.menu-toggle.active span:nth-child(2),
.menu-toggle.active span:nth-child(3) {
  top: 18px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
}

@media screen and (max-width: 37.5em) {

  header::after{
    display:none;
  }

  nav{
    display: flex;
  }
  .menu-toggle{
    display: none;
  }
  .main-menu{
   width: 100%;
    background-color: transparent;
    margin-top:0;
   -webkit-transform: translateX(0);
   transform: translateX(0);
  }
  .main-menu ul{
   height: 70px;
   display: flex;
   flex-wrap: wrap;
   justify-content: flex-end;
   align-items: center;
  }
  .main-menu ul li a{
    padding: 0 1em;
    border-bottom: none;
  }

  .main-menu ul li a:hover {
    background-color:transparent;
  }
}

/* カスタマーヘッダー */
img.cus-header-img {
  display: block;
  width: 100vw;
}

/****** サイドバー ******/
.site-sidebar h2 {
  font-size: 24px;
  border-bottom: 2px solid blue;
}

.site-sidebar ul {
  list-style: none;
  margin-left: 0;
  padding-left: 5px;
}

/****** フッター ******/
footer#colophon {
  background-color: #333;
  padding: 10px 0 10px 20px;
}

.site-footer a,
.site-footer span {
  color: white;
}

/****** 部品 ******/
/* 関連記事 */
.relatedkiji {
  margin: 40px 0 0;
  padding: 10px;
}

.relatedkiji h4 {
  font-size: 1.25em;
  padding: 3px 5px;
  border-bottom: solid 1px #999;
}

.relatedkiji ul {
  font-size: 0;
  margin: 10px 0;
  padding: 0;
}

.relatedkiji li {
  display: inline-block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 25%;
  padding: 10px 5px;
  list-style: none;
  vertical-align: top;
}

.relatedkiji li a {
  display: block;
  text-decoration: none;
  color: #000;
}

.relatedkiji li a:hover {
  color: #000070;
  background-color: #eee;
}

.relatedkiji img {
  height: 120px;
  object-fit: cover;
}

.relatedkiji .text {
  font-size: 16px;
  font-weight: bold;
}

@media (max-width: 599px) {
  .relatedkiji ul {
    margin: 0;
  }

  .relatedkiji li {
    display: block;
    width: 100%;
  }

  .relatedkiji li a:after {
    display: block;
    clear: both;
    content: '';
  }

  .relatedkiji img {
    float: left;
    width: 90px;
    height: 70px;
  }

  .relatedkiji .text {
    width: auto;
    margin-top: 5px;
    margin-left: 100px;
  }
}

/* 目次 */
div.table-of-contents {
  border: solid 2px #7DB4EC;
  /* 線の種類と色 */
  padding: 15px 10px 15px 35px;
  /* 枠内の余白（上右下左） */
  margin: 1.5em 2em;
  background: #f7f7f7;
  /* 背景 */
  font-size: 100%;
  /* 文字サイズ */
  border-radius: 8px;
  /* 数字が大きいほど丸くなる */
}

div.table-of-contents:before {
  content: "目次";
  font-size: 110%;
  font-weight: bold;
  /* 文字の太さ　通常はnormal */
  color: #000;
  /* 文字の色 */
}

.table-of-contents li {
  color: gray;
  margin-top: 5px;
}

.table-of-contents ul {
  counter-reset: section;
  list-style: none;
}

.table-of-contents ul>li:before {
  content: counters(section, '-') '. ';
  counter-increment: section;
}

.table-of-contents li a {
  color: black;
}

/* パンくずリスト */
.breadcrumb ul {
  list-style: none;
  font-size: .8em;
}

.breadcrumb li {
  display: inline;
}

.breadcrumb li a {
  color: gray;
  text-decoration: none;
}

.breadcrumb li+li:before {
  content: ">";
  margin-right: .3em;
  color: gray;
}

div.breadcrumb {
  background-color: white;
  margin-bottom: 0px;
}

div.category {
  margin: 5px 10px 18px 10px;
  padding: 5px 10px;
  display: inline-block;
  background-color: whitesmoke;
}

/* スマホサイズ */
@media screen and (max-width:576px) {

}

/* タブレットサイズ */
@media screen and (max-width:768px) {
  div.article-thumbnail {
    padding-left: 0;
    padding-right: 0;
  }

  img.attachment-post-thumbnail {
    padding: 0;
  }
}

/* 画面が狭まった場合 */
@media screen and (max-width: 992px) {
  /* 全体 */
  div.container {
    padding: 0;
  }

  div.container > div.row {
    margin-left: 0;
    width: 100%;
  }
  /* メインエリア */
  div.main-area {
    width: 100%;
  }
  div.container > div.row > div.col-lg-3 {
    margin-left: 0;
    padding: 0;
    width: 100%;
  }
  /* サイドバー*/
  aside#secondary {
    margin: 0 0 40px 0;
  }
}
